{% extends "layout.html" %}
{% block body %}

<h3>{{ user['firstname'] }} {{ user['lastname'] }}</h3>

<p><a href="{{ url_for('admin') }}">Back</a></p>

	<div>
		<p>
			<strong>All Skills</strong>
		</p>
		{% if skills|length %}
			<table>
				<tr>
					<th>Category</th>
					<th>Skill</th>
					<th>Score</th>
				</tr>
				{% for skill in skills %}
				<tr>
					<td>{{ skill.category }}</td>
					<td>{{ skill.name }}</td>
					<td class="score">{{ skill.score }} ({{ scoredesc[skill.score] }})</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>This section hasn't been filled out yet.</p>
		{% endif %}
	</div>

<p><a href="{{ url_for('admin') }}">Back</a></p>

{% endblock %}
