{% extends "layout.html" %}
{% block body %}

<h3>{{ skillname }}</h3>

<p>
{% if userscores|length %}
	<table>
		<tr>
			<th>Name</th>
			<th>Score</th>
		</tr>
		{% for userscore in userscores %}
		<tr>
			<td>{{ userscore.user.firstname }} {{ userscore.user.lastname }}</td>
			<td class="score">{{ userscore.score }} ({{ scoredesc[userscore.score] }})</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	No one has this skill.
{% endif %}
</p>

<a href="{{ url_for('admin_page.admin') }}">Back</a>

{% endblock %}
