{% extends "layout.html" %}
{% block body %}
<hr>
<div>
	<strong>All Users</strong>
	<table>
		<tr>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		{% for user in users %}
		<tr>
			<td><a href="{{ url_for('admin_page.admin_userstats', username=user.username) }}">{{ user.username }}</a></td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
		</tr>
		{% else %}
		<tr>
			<td>No users.</td>
		</tr>
		{% endfor %}
	</table>
</div>
<hr>
<div>
	<strong>All Skills</strong>
	<table>
		<tr>
			<th>Skill</th>
			<th>Category</th>
		</tr>
		{% for category in allskills %}
		{% for skill in category.skills %}
		<tr>
			<td><a href="{{ url_for('admin_page.admin_skillstats', skill=skill) }}">{{ skill }}</a></td>
			<td>{{ category.name }}</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</table>
</div>
{% endblock %}
