{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}

<h2>
	{% for i in range(categories|length) %}
		{% if not i==pagenum %}
			<a href="{{ url_for('form', pagenum=i) }}">{{ categories[i] }}</a>
		{% else %}
			{{ categories[i] }}
		{% endif %} 
		{% if i<categories|length-1 %} | {% endif %}
	{% endfor %}
</h2>
<p><strong>Not relevant?</strong> If these skills don't apply to you, you can skip this section.</p>
<form action="{{ url_for('form', pagenum=pagenum) }}" method=post>
	<table>
		<tr>
			<th>Skill</th>
			<th>{{ scoredesc[1] }}</th>
			<th>{{ scoredesc[2] }}</th>
			<th>{{ scoredesc[3] }}</th>
			<th>{{ scoredesc[4] }}</th>
			<th>{{ scoredesc[5] }}</th>
			<th class=tblerror></th>
		</tr>
		{% for elem in form %}
		<tr>
			<td>{{ elem.label.text }}</td>
			{% for radio in elem %}<td class=column>{{ radio }}</td>{% endfor %}
			<td class=tblerror>{% for error in form[elem.name].errors %}{{ error }}{% endfor %}</td>
		</tr>
		{% endfor %}
	</table>
	<input type=submit value="Save">
</form>
{% endblock %}