<!doctype html>
<html>
	<head>
		<title>Hacksaw - {{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class=page>
			<h1>Hacksaw</h1>
			{% for message in get_flashed_messages() %}
				<p class=flash>{{ message }}</p>
			{% endfor %}
			{% if session.get('username') %}
				<h3>User: {{ session.get('username') }} [<a href="{{ url_for('user.logout') }}">logout</a>]</h3>
			{% endif %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>