{% extends "layout.html" %}
{% block body %}

<h3>User: {{ session.get('username') }} [<a href="{{ url_for('logout') }}">logout</a>]</h3>

{% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
<form action="{{ url_for('form') }}" method=post>
	<table>
		<tr>
			<th>Skill</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th></th>
		</tr>
		{% for elem in form %}
		<tr>
			<td>{{ elem.label }}</td>
			{% for radio in elem %}<td>{{ radio }}</td>{% endfor %}
			<td>{% for error in form[elem.name].errors %}{{ error }}{% endfor %}</td>
		</tr>
		{% endfor %}
	</table>
	<input type=submit value=Submit>
</form>

{% endblock %}