{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}

<h2>{{ categories[pagenum] }} ({{ pagenum+1 }} of {{ categories|length }})</h2>
<form action="{{ url_for('form', pagenum=pagenum) }}" method=post>
	<table>
		<tr>
			<th>Skill</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th class=tblerror></th>
		</tr>
		{% for elem in form %}
		<tr>
			<td>{{ elem.label.text }}</td>
			{% for radio in elem %}<td>{{ radio }}</td>{% endfor %}
			<td class=tblerror>{% for error in form[elem.name].errors %}{{ error }}{% endfor %}</td>
		</tr>
		{% endfor %}
	</table>
	<input type=submit value="Save and {% if pagenum<categories|length-1 %}Continue{% else %}Exit{% endif %}">
</form>
{% if pagenum > 0 %}
	<a href="{{ url_for('form', pagenum=pagenum-1) }}">Back</a>
{% else %}
	Back
{% endif %}
{% if pagenum < categories|length-1 %}
	<a href="{{ url_for('form', pagenum=pagenum+1) }}">Skip</a>
{% else %}
	<a href="{{ url_for('logout') }}">Skip (and Exit)</a>
{% endif %}

{% endblock %}